:root {
  --main-font--: 'Roboto', sans-serif;
  --background-cl-black--: #2F303A;
  --white-cl--: #FFF;
  --black-cl--: #212121;
  --blue-cl--: #2196F3;
  --silver-cl--: #757575;
}

body {
  background-color: var(--white-cl--);
  font-family: 'Roboto', sans-serif;
}

/* Header */
.logo-link {
  color: var(--blue-cl--);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.logo-span {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.link-page {
  color: var(--blue-cl--);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;

}

.link {
  background: var(--white-cl--);
  color: var(--black-cl--);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--blue-cl--);
}

.link-contacts {
  color: var(--silver-cl--);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;

}

.link-contacts:hover,
.link-contacts:focus {
  color: var(--blue-cl--);
}

.list {
  list-style: none;
}

/* Hero-section */
.hero {
  background: var(--background-cl-black--);
}

.hero-title {
  color: var(--white-cl--);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.btn {
  border-radius: 4px;
  background: var(--blue-cl--);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white-cl--);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  margin-left: 692px;
  margin-right: 692px;
}

.btn:hover {
  color: var(--white-cl--);
  background: #188CE8;
  cursor: pointer;
}

.btn:focus {
  color: var(--white-cl--);
}

/* Section-portofolio */
.list-filters {
  list-style-type: none;
}

.btn-filters {
  border-radius: 4px;
  background: #F5F4FA;
  color: var(--black-cl--);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.48px;
}

.btn-filters:hover {
  border-radius: 4px;
  background: var(--blue-cl--);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
  color: var(--white-cl--);
  cursor: pointer;
}

.btn-filters:focus {
  background: var(--blue-cl--);
  color: var(--white-cl--);
}

.uppertitle-fortpolio {
  color: var(--black-cl--);
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  /* 200% */
  letter-spacing: 1.08px;
}

.subtitle-fortpolio {
  color: var(--silver-cl--);
  font-size: 16px;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.48px;
}

/* Gallery-section */
.title {
  color: var(--black-cl--);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.uppertitle {
  color: var(--black-cl--);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  text-decoration: none;

}

.subtitle {
  color: var(--silver-cl--);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration: none;
}

.uppertitle-team {
  border-radius: 0px 0px 4px 4px;
  background: var(--white-cl--);
  color: var(--black-cl--);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  text-decoration: none;

}

.subtitle-team {
  border-radius: 0px 0px 4px 4px;
  background: var(--white-cl--);
  color: var(--silver-cl--);
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration: none;
}

.item-fortpolio a {
  text-decoration: none;
}

/* Footer */
.footer {
  background: var(--background-cl-black--);
}

.logo-link-footer {
  color: var(--blue-cl--);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.logo-footer-span {
  color: var(--white-cl--);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;

}

.addres {
  color: var(--white-cl--);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
  padding-left: 40px;
  font-style: normal;
}

.link-footer {
  color: rgba(255, 255, 255, 0.60);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration: none;
}

.link-footer:hover,
:focus {
  color: var(--blue-cl--);
}